<footer>
    <mat-toolbar class="mat-scroll-shrink">
        <span class='spacer'></span>
        <span>© Copyright 2018, Sankhyastat Data Analytics Ltd, All rights reserved.</span>
        <span class='spacer'></span>
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
          <ul fxLayout fxLayoutGap="20px" class="navigation-items">
              <li>
                  <a>
                    <span  class="label">Home</span>
                   </a>
              </li>
              <li>
                <a >
                    <span class="label">Contact</span>
                </a>
              </li>
              <li>
                  <a>
                      <span class="label">History</span>
                  </a>
                </li>
              <li>
                  <a>
                    <span class="label">Our News</span>
                   </a>
              </li>
          </ul>
       </div>
    </mat-toolbar>
  </footer>