@import '../../../assets/scss/global.scss';
.navigation-items li{
    list-style: none;
}
.mat-toolbar{
    font-size: 1em;
    background: $color-bg;
    color: $color-primary;
    font-weight: 700;
    img{
        margin-top: 25px;
    }
    
}