<mat-grid-list cols="3" rowHeight="12em">
    <mat-grid-tile>
        <mat-card data-aos="flip-up">
            <mat-card-title>Statistics Studies</mat-card-title>
            <img mat-card-image src="../../../assets/img/StatisticsAnalysis.png" alt="Statistics Studies" />
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card data-aos="flip-up">
            <mat-card-title>Statistical Software</mat-card-title>
            <img mat-card-image src="../../../assets/img/StatisticalSoftware.png" alt="Statistical Software" />
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
            <mat-card data-aos="flip-up">
                <mat-card-title>Data Mining</mat-card-title>
                <img mat-card-image src="../../../assets/img/DataMining.png" alt="Data Mining" />
            </mat-card>
    
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card data-aos="flip-up">
                    <mat-card-title>Data Science</mat-card-title>
                    <img mat-card-image src="../../../assets/img/DataScience.png" alt="Data Science" />
                </mat-card>
        
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card data-aos="flip-up">
                    <mat-card-title>Predictive Analytics</mat-card-title>
                    <img mat-card-image src="../../../assets/img/PredictiveAnalytics.png" alt="Predictive Analytics" />
                </mat-card>
        
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card data-aos="flip-up">
                    <mat-card-title>Case Studies</mat-card-title>
                    <img mat-card-image src="../../../assets/img/CaseStudies.png" alt="Case Studies" />
                </mat-card>
        
            </mat-grid-tile>

</mat-grid-list>