@import '../../../assets/scss/global.scss';
mat-grid-tile{
    
    mat-card-title{
        position: absolute;
        top: 38%;
        left: 18%;
        color:$color-bg;
    }
    mat-card{
        padding: 0px;
        height: auto;
        box-shadow:none;
    }
    img{
        border-radius: 4px;
        box-shadow: 5px 10px 8px #888888;
    }
}
mat-grid-list{
    padding: 10px 0px;
}