<mat-grid-list cols="1" rowHeight="1:0.4">
  <div class="sign-wave"></div>
  <mat-grid-tile  id="slider">
    <div></div>
  </mat-grid-tile>
</mat-grid-list>
<div class="container">
    <section class="mat-typography">
        <h1>What we do</h1>
        <h4>SankhyaStat is a company providing Consulting Services and Resources in the areas of Data Mining, Predictive Analytics, Statistical Analysis, Data Science and Statistical Software.</h4>
      </section>
  <h3>Portfolio</h3>
  <app-portfolio  class="service-container"></app-portfolio>
</div>