<mat-card>
    <mat-card-content>
<div class="enquiry-container">
    <h3>Enqire About Us</h3>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill Name</mat-label>
      <input matInput placeholder="Name">
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill Email</mat-label>
      <input matInput placeholder="Email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill Phone</mat-label>
      <input matInput placeholder="Phone">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill Details</mat-label>
      <textarea matInput placeholder="Details"></textarea>
      <mat-icon matSuffix>chat</mat-icon>
    </mat-form-field>
  </p>
  <p class="align-right" >
    <button mat-fab color="warn">Submit</button>
  </p>
</div>
</mat-card-content>
</mat-card>