@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/scss/global.scss';
html, body { 
  margin: 0;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: $container-width;
  width: 100%;
}
#enquiry{
  background: url('assets/slides/enquiry.jpg') no-repeat;
  background-size: cover;
  padding: 16px 0px;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: rgba(251, 251, 251, 0.04);
}